# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
/metro-cache/

# Logs and temporary files
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.log.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env
.env.*

# TypeScript
*.tsbuildinfo

# Android
android/.gradle/
/android/app/build/

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
xcuserdata/
*.xcworkspace
*.xcuserdatad*
*.xcscmblueprint

# Build artifacts
build/
out/

# IDE specific files
.idea/
.vscode/
